article {
    background-color: var(--ion-color-warning);
    color: black;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr;
    padding: 5%;
    place-content: center;
    place-items: center;
    width: 100vw;
}

.not-found {
    p {
        font-size: 5em;
        font-weight: bolder;
        margin: 0;
    }

    span {
        font-size: 1.5em;

        a {
            border-bottom: solid;
            border-bottom-width: 3px;
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.page-icon {
    img {
        filter: brightness(0);
    }
}