<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" shape="round" (click)="openNotificationsPreview($event)">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" (click)="startNewVox()">
        <ion-icon name="add"></ion-icon> Nuevo Vox
      </ion-button>
    </ion-buttons>
    <ion-title>{{ category }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ category }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="image" *ngFor="let post of posts" routerLink="../../vox">
      <div class="text">
        <ion-badge color="medium" class="margin-right-5px" (click)="showOptions($event)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-badge>
        <ion-badge color="primary">PRG</ion-badge>
        <br>
        {{post.title}}
      </div>
    </div>
  </div>
</ion-content>