
<article class="main">
    <section class="message">
        <div class="logo"><img src="../../../assets/icon/logo.svg" alt="anon.land"></div>
        <div class="text">
            <p>Los devs están laburando</p>
            <span>Volvé más tarde</span>
        </div>
    </section>

    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</article>