<ion-header>
  <ion-toolbar class="new-vox-title">
    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" (click)="cancelCreate()">
        ANULAR
      </ion-button>
      <ion-button color="tertiary" fill="solid" [disabled]="!newPostForm.valid" (click)="createNewPost()">
        PUBLICAR
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo post</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list> -->
<form class="new-post-form" [formGroup]="newPostForm">
  <div class="new-post-img">
    <input id="upload-img" type="file" name="post-img-upload" accept="image/*" (change)="onSelectFile($event)" />
    <label for="upload-img" id="file-drag">
      <img [src]="newPostForm.value.imgPreview" alt="">
      <ion-item *ngIf="showUploadImgText" lines="none">
        <ion-icon color="bright" slot="start" name="cloud-upload"></ion-icon>
        <ion-label>Cargar Imágen.<br>
          <p>Vacio. Miniatura por defecto.</p>
        </ion-label> <br>
      </ion-item>
    </label>
  </div>
  <div class="new-post-content">
    <div class="new-post-category">
      <ion-label>Nicho</ion-label>
      <ion-select placeholder="General" okText="Elegir" cancelText="Cancelar" name="category" formControlName="category">
        <ion-select-option value="off">General</ion-select-option>
        <ion-select-option value="prg">Preguntas</ion-select-option>
        <ion-select-option value="mus">Música</ion-select-option>
        <ion-select-option value="cin">Cine</ion-select-option>
        <ion-select-option value="sci">Ciencia</ion-select-option>
        <ion-select-option value="his">Historia</ion-select-option>
        <ion-select-option value="pol">Política</ion-select-option>
        <ion-select-option value="art">Arte</ion-select-option>
        <ion-select-option value="nor">Normie</ion-select-option>
        <ion-select-option value="a"  >Anime</ion-select-option>
        <ion-select-option value="uff">Random</ion-select-option>
      </ion-select>
    </div>
    <div class="new-post-content-text">
      <ion-item>
        <ion-input name="title" formControlName="title" placeholder="Título"></ion-input>
      </ion-item>
    </div>
    <div class="new-post-content-text">
      <ion-item class="content-text-last">
        <ion-textarea rows="11" cols="30" placeholder="Contenido" maxlength="5000" name="body" formControlName="body">
        </ion-textarea>
      </ion-item>
    </div>
  </div>


</form>
<!-- </ion-list>
</ion-content> -->