<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" (click)="cancel()">
        CANCELAR
      </ion-button>
      <ion-button color="success" fill="solid" [disabled]="!newPostForm.valid" (click)="create()">
        CREAR
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <form [formGroup]="newPostForm">

      <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select okText="Elegir" cancelText="Cancelar" name="category" formControlName="category">
          <ion-select-option value="prg">Preguntas</ion-select-option>
          <ion-select-option value="mus">Música</ion-select-option>
          <ion-select-option value="pel">Películas</ion-select-option>
          <ion-select-option value="cie">Ciencia</ion-select-option>
          <ion-select-option value="art">Arte</ion-select-option>
          <ion-select-option value="pro">Programación</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="margin-top-20">
        <ion-label>
          <h5>Imágen</h5>
        </ion-label>
        <ion-button>Cargar</ion-button>
        <!-- <ion-input type="file" name="image" formControlName="image"></ion-input> -->
        <img src="../../assets/neo.jpg" width="100px" height="100px" />
      </ion-item>

      <ion-item>
        <ion-input name="title" formControlName="title" placeholder="Título"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea placeholder="Contenido" maxlength="5000" name="content" formControlName="content"></ion-textarea>
      </ion-item>
    </form>

  </ion-list>

</ion-content>