article {
    background-color: var(--ion-color-dark);
    color: white;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr;
    padding: 5%;
    place-content: center;
    place-items: center;
    width: 100vw;
}

.banned-message {
    p {
        font-size: 5em;
        font-weight: bolder;
        margin: 0;
    }

    span {
        font-size: 1.3em;
        font-weight: normal;
    }

    
    a {
        border-bottom: solid;
        border-bottom-width: 3px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}

.contact a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0088CC;
    max-width: 200px;
    width: 40vw;
    border-radius: 1em;
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
}

.contact ion-icon {
    margin-left: 2%;
}