<div class="row ">
        <!-- aca va el post + el trending -->
        <div class="col s9" style="padding: 0 45px 10px 25px;">
          <!-- este es el div del post -->
          <div id="post">
            <div class="row">
              <div class="col s3">
                <strong>USER ID
                  <br>
                  USER RANK</strong>
              </div>
              <div class="col s9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut suscipit labore ex
                  vel accusantium ut, iusto voluptatibus odit! Quo quasi laborum dolorum cum aliquam
                  amet. Aut assumenda labore quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut suscipit labore ex
                  vel accusantium ut, iusto voluptatibus odit! Quo quasi laborum dolorum cum aliquam
                  amet. Aut assumenda labore quas?</p>
                <div style="width: 50%;"><img style="width: 100%;" src="./img/test.jpg" alt="Imagen del post" srcset=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#"><i class="fas fa-comment"></i>23</a>
                <a href="#"><i class="fas fa-certificate"></i>3</a>
              </div>
            </div>


          </div>

        </div>
        <!-- aca va el trending -->
        <div class="row">

          <div id="sideNav" class="col s3 nav-wrapper right green darken-4 sidenav-fixed">
            <!-- Este es el div de los posteos mas puntuados -->
            <div class="nav-content carousel carousel-slider">
              <h5 style="text-align: center;">TOPS!</h5>
              <!--
              <ul id="tabs-swipe-demo" class="tabs">
                
                <li class="tab"><a href="#test-swipe-1">Semana</a></li>
                <li class="tab"><a class="active" href="#test-swipe-2">Mes</a></li>
                
              </ul>
              -->
              <div id="test-swipe-1" class="black">
                <div style="width: 50%;"><img style="width: 100%;" src="./img/test.jpg" alt="Imagen del post" srcset=""></div>
                <p style="color: white;">Lorem ipsum dolor sit amet consectetur</p>

              </div>
              <!--<div id="test-swipe-2" class="green darken-4">contenido 2</div> -->
            </div>



          </div>
        </div>
      </div>