/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Global standard font family.
@font-face {
    font-family: "Manrope";
    src: local("Manrope"), url(./assets/fonts/Manrope/Manrope-variable.ttf)
    format("truetype");
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

.create-new-post-modal .modal-wrapper {
    height: 70vh;
    width: 60vw;
}

.create-post-modal-full {
    --width: 100% !important;
    --height: 100% !important;
}

.create-post-modal-full {
    --width: 40% !important;
    --height: 70% !important;
}

.div-fullscreen {
    --height: 100vh !important;
    --width: 100vw !important;
}

//For typical mobile devices in portrait or landscape
@media only screen and (max-width: 767px) {
    .create-new-post-modal .modal-wrapper {
        height: 100vh;
        width: 100vw;
    }

    .ion-page {
        flex-direction: column-reverse;
    }
}

//For tablets
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .div-modal {
        --width: 70% !important;
        --height: 70% !important;
    }
}

//For small desktop
@media only screen and (min-width: 980px) and (max-width: 1023px) {
    .div-modal {
        --width: 50% !important;
        --height: 70% !important;
    }
}

//For typical desktop
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .div-modal {
        --width: 50% !important;
        --height: 70% !important;
    }
}

//For large desktop
@media only screen and (min-width: 1200px) {
    .div-modal {
        --width: 30% !important;
        --height: 70% !important;
    }
}