<ion-app>
  <ion-split-pane contentId="main-content" disabled="true">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="logo">
          <img src="../assets/icon/logo.svg" alt="">
          <h1>Anon land</h1>
          <p>Expresate anoninamente</p>
        </div>
        <ion-list id="inbox-list">
          <ion-list-header class="ion-padding">Nichos</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle auto-hide="false" [hidden]="this.authServ.user != undefined">
          <ion-item (click)="googleSignin()" class="pointer" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" ios="log-in-outline" md="log-in-sharp"></ion-icon>
            <ion-label>Iniciar sesión (Mod)</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" [hidden]="this.authServ.user == undefined">
          <ion-item (click)="googleSignout()" class="pointer" routerDirection="root" lines="none" detail="false">
            <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
            <ion-label>Cerrar sesión (Mod)</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="this.authServ.user">
          <ion-item class="pointer" routerDirection="root" [routerLink]="['/admins']" lines="none" detail="false">
            <ion-icon slot="start" ios="hammer-outline" md="hammer-sharp"></ion-icon>
            <ion-label>Admin Cpanel</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="changeColorScheme()" class="pointer color-scheme">
            <ion-icon slot="start" ios="color-palette-outline" md="color-palette-sharp"></ion-icon>
            <ion-label>Cambiar el tema</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
