<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express it!</title>
  <!-- Link CSS.. -->
  <link rel="stylesheet" href="../css/materialize.css">
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/brands.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/regular.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/solid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/svg-with-js.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/v4-shims.min.css">
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>
  <div class="row container">
    <div class="col s12">
      <!-- Navbar.. -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Notificacion 1</a></li>
        <li><a href="#!">Notificacion 2</a></li>
        <li class="divider"></li>
        <li><a href="#!">Notificacion 3</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/exp/off">General</a></li>
        <li><a href="/exp/new">Actualidad</a></li>
        <li class="divider"></li>
        <li><a href="/exp/ent">Entretenimiento</a></li>
        <li><a href="/exp/prg">Preguntas</a></li>
        <li class="divider"></li>
        <li><a href="/exp/vid">Videos</a></li>
        <li><a href="/exp/r18">NSFW</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="/home" class="brand-logo">Express it!</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">USER ID {{userid}} RANK: {{rank}} </a></li>
            <li><a href="#">Tutucas: {{points}} <i class="fas fa-certificate"></i> </a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="far fa-bell"></i>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="#" class="dropdown-trigger" data-target="dropdown2"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
  {{{body}}}
  <div class="row">
    <div class="col s12">
      <!-- aca va el footer -->
      <!-- Footer.. -->
      <footer class="page-footer black">
        <div id="mainfooter">
          <div class="row">
            <div class="col">
              <h5 class="white-text">Express it!</h5>
              <p class="grey-text text-lighten-4">Expresate anonimamente</p>
            </div>
            <div class="container section">
              <div id="borderUploadBTN" class="col right">
                <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red btn modal-trigger"><i
                    class="material-icons"><i class="fas fa-plus"></i></i></a>
              </div>
              <div id="modal1" style="background-color: #204073;" class="modal">
                <div class="modal-content">
                  <form id="postForm" action="post" method="post">
                    <div class="input-field">
                      <select id="section" class="browser-default">
                        <option value="" disabled selected>Elegí un nicho</option>
                        <option value="off" id="off">General</option>
                        <option value="pol" id="new">Actualidad</option>
                        <option value="ent" id="ent">Entretenimiento</option>
                        <option value="prg" id="prg">Preguntas</option>
                        <option value="vid" id="vid">Videos</option>
                        <option value="r18" id="r18">NSFW</option>
                      </select>

                      <input enctype="multipart/form-data" type="file" name="postPic"
                        class="waves-effect waves-black btn-flat" id="mediaFile"
                        accept="image/gif, image/jpeg, image/jpg, image/png, video/webm">
                      <label class="waves-effect waves-black btn-flat" for="mediaFile"><i
                          class="fas fa-cloud-upload-alt"></i></label>
                      <textarea name="textarea" value="" rows="" id="postTXT"
                        placeholder="Escribi el contenido de tu publicación" maxlength="5000" cols=""></textarea>
                    </div>
                    <div style="text-align: center;" class="modal-footer green">
                      <a href="#!" id="publishBTN" type="submit"
                        class="modal-close waves-effect waves-green btn-flat">Publicar
                        <i class="fas fa-paper-plane"></i></a>
                    </div>


                  </form>

                </div>
              </div>
            </div>

          </div>

        </div>
    </div>
    </footer>
  </div>
  <!-- Scripts.. -->
  <script src="../js/materialize.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/brands.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/conflict-detection.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/fontawesome.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/regular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/solid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/v4-shims.min.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>