ion-tittle,
ion-button,
ion-icon {
  font-weight: bolder;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

.create-post {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  p {
    margin-right: 5%;
  }
}

ion-badge{
  padding: 4px;

  ion-icon{
    font-size: 11.62px;
  }
}

.options-badge {
  position: relative;
  right: 0;
  top: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  aspect-ratio: 1;
}

.main-post-img {
  background-color: var(--ion-background-color);
  color: white;
  cursor: pointer;
  display: flex;
  filter: grayscale(0.4);
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  transition: 0.4s ease;
  width: 100%;

.show-post {
  align-items: center;
  background-color: var(--ion-toolbar-background-color);
  cursor: pointer;
  display: none;
  flex-direction: row;
  font-size: 1.3em;
  font-weight: bold;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  z-index: 10;

  .show-post-title {
    font-family: 'Visby Round CF';
    font-weight: bold;
    opacity: 60%;
    transition: 0.4s ease;
  }

  &:hover {
    .show-post-title {
      opacity: 100%;
      transition: 0.4s ease;
    }
  }
}

  .content {
    background: {
      size: cover;
      repeat: no-repeat; 
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    padding: 1em;
    transition: 0.4s ease;

    .options {
      margin-right: 1%;
    }

    h1 {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
    }
  }
}

.main-post-img .content:hover {
  border-radius: 1em;
  filter: grayscale(0%);
  transform: scale(0.95);
  transition: 0.4s ease;
}

.content:hover {
  box-shadow: 1px -128px 119px -73px rgba(0,0,0,0.39) inset;
  transition: 0.4s ease;
}

.information {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.post-text {
  position: relative;
  //margin-top: 100% !important;
}

.end {
  background-color: var(--ion-toolbar-background-color);
  color: var(--ion-text-color);
  display: grid;
  font-weight: bold;
  font-size: 1em;
  place-content: center;
  position: relative;
  width: 100vw;
  height: 20vh;
}

.scroll-top {
  align-items: center;
  background-color: var(--ion-color-tertiary);
  bottom: 8vh;
  color: var(--ion-item-background-color);
  cursor: pointer;
  display: flex;
  font-size: .9em;
  font-weight: bold;
  height: 50px;
  justify-content: space-evenly;
  position: fixed;
  right: 3%;
  transition: 0.4s ease;
  user-select: none;
  width: 80px;
}

// For typical mobile devices (use 479px).
@media only screen and (max-width: 679px) {
  ion-toolbar {
    padding: 1em !important;
    height: 90px;
    max-height: 90px;
    .title {
      font-size: .8em;
    }
  }

  .create-post {
    width: 35vw;
    p {
      margin-right: 5%;
    }
  }

  .main-post-img {
    border: 0;
    font-size: 0.9em;
    max-height: 400px;
  }

  .container {
    border-radius: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .content {
      padding: 0.5em;
    }
  }

  .main-post-img .content:hover {
    filter: grayscale(0%);
    transform: scale(1);
    transition: 0.4s ease;
  }

  .end {
    height: 30vh;
    margin-bottom: 100px;
  }

  .scroll-top {
    bottom: 110px;
    right: 4%;
  }
}

// Default posts view. Two divs per row.
// For mobile (landscape).
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .create-post {
    width: 30vw;
    p {
      margin-right: 5%;
    }
  }

  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1;
  }
}

// For tablets
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .create-post {
    width: 20vw;
    p {
      margin-right: 5%;
    }
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

// For small desktop
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .create-post {
    width: 20vw;
    p {
      margin-right: 5%;
    }
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

// For typical desktop
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

// For large desktop
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
