.scroll-top {
    align-items: center;
    background-color: var(--ion-color-tertiary);
    border-radius: 1em;
    bottom: 8vh;
    color: var(--ion-item-background-color);
    cursor: pointer;
    display: flex;
    font-size: .9em;
    font-weight: bold;
    height: 50px;
    justify-content: space-evenly;
    position: fixed;
    right: 3%;
    transition: 0.4s ease;
    user-select: none;
    width: 80px;
}

@media only screen and (max-width: 679px) {
    .scroll-top {
        bottom: 110px;
        right: 4%;
    }
}
