.comments-container,
ion-textarea {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment-button {
    text-align: right;
}

ion-grid {
    height: 100%;
}

ion-row {
    height: 100%;
}

ion-textarea {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}