<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button text="Atrás" (click)="goBack()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{post.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="7" sizeMd="7" sizeSm="12" sizeXs="12">
        <div class="ion-text-center">
          <img src="../../../assets/neo.jpg" height="50%">
        </div>
        <h2>{{post.body}}</h2>
      </ion-col>
      <ion-col sizeLg="5" sizeMd="5" sizeSm="12" sizeXs="12" class="comments-container">
        <ion-textarea placeholder="Hacer un comentario" maxlength="500" autofocus="true" rows="7" #txtComment>
        </ion-textarea>
        <div class="comment-button">
          <ion-button color="dark" (click)="comment()">Comentar</ion-button>
        </div>
        <ion-list>
          <ion-item>
            <h4>Comentarios:</h4>
          </ion-item>
          <ion-item *ngFor="let comment of comments">
            <ion-badge color="medium" *ngIf="comment.userId == post.opid">OP</ion-badge>
            <ion-badge color="medium" *ngIf="comment.userId != post.opid">ANON</ion-badge>
            <ion-badge color="medium">{{comment.userId}}</ion-badge>
            {{comment.body}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>