<ion-item (click)="report()">
  <ion-icon slot="start" name="flag"></ion-icon>
  <ion-label>Denunciar</ion-label>
</ion-item>
<ion-item (click)="hide()">
  <ion-icon slot="start" name="eye-off"></ion-icon>
  <ion-label>Ocultar</ion-label>
</ion-item>
<ion-item [hidden]="this.authServ.user == undefined" (click)="delete()">
  <ion-icon slot="start" name="trash"></ion-icon>
  <ion-label>Borrar</ion-label>
</ion-item>
<ion-item [hidden]="this.authServ.user == undefined" (click)="ban()">
  <ion-icon slot="start" name="skull"></ion-icon>
  <ion-label>Banear usuario</ion-label>
</ion-item>